@model Domain.Models.Application

@{
    ViewData["Title"] = "Application Details";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #007bff;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 20px 0;
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 10px;
    }

    dt {
        font-weight: bold;
    }

    .action-links {
        margin-top: 20px;
    }

        .action-links a {
            color: #007bff;
            text-decoration: none;
            margin-right: 20px;
            transition: color 0.3s ease;
        }

            .action-links a:hover {
                color: #0056b3;
            }
</style>

<div class="container">
    <h2>Application Details</h2>
    <hr />
    <div>
        <dl>
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
            <dt>@Html.DisplayNameFor(model => model.PhoneNo)</dt>
            <dd>@Html.DisplayFor(model => model.PhoneNo)</dd>
            <dt>@Html.DisplayNameFor(model => model.Education)</dt>
            <dd>@Html.DisplayFor(model => model.Education)</dd>
            <dt>@Html.DisplayNameFor(model => model.Resume)</dt>
            <dd>@Html.DisplayFor(model => model.Resume)</dd>
            <dt>@Html.DisplayNameFor(model => model.ApplicationDate)</dt>
            <dd>@Html.DisplayFor(model => model.ApplicationDate)</dd>
        </dl>
    </div>
    <div class="action-links">
        <a asp-action="EditJobApplicationForm" asp-route-applicationId="@Model.ApplicationId">Edit</a>
        <a asp-action="JobApplicationIndex">Back to List</a>
    </div>
</div>
